#hero {
  &_carousel,
  .hero_carousel-img {
    height: 70vh;
    width: 100vw;
  }
}

#about {
  max-width: 60vw;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 1px solid $clr-dark;
}

#map_area {
  width: 60vw;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 1px solid $clr-dark;

  &-adress {
    margin: 2rem 0 0 1rem;
  }

  &-map iframe {
    width: 400px;
    height: 350px;
  }

  &-adress-adress {
    border-bottom: 1px dotted $clr-accent;
    padding-bottom: 1rem;
  }
}

#products {
  height: 100%;
  width: 100%;
  margin: 2rem auto;

  .products_items {
    background: lighten($clr-dark, 80%);
    width: 18rem;
    margin: 0.8rem;

    h5 {
      margin-top: 2rem;
      margin-top: 0;
    }
  }

  .jumbotron {
    width: 60vw;
    margin: 1rem auto;
    background: lighten($clr-dark, 70%);
    padding: 0.8rem;
    border-radius: 3px;
    text-align: center;
  }
}
