#hero {
  &_carousel,
  .hero_carousel-img {
    height: 70vh;
    width: 100vw;
  }
}

#products {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  &_items {
    h5 {
      margin-top: 2rem;
      margin-top: 0;
    }
  }

  img {
    max-width: 300px;
  }
}
